<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>XBaseAndroid内部网页</title>
    <script src="../resources/js/vue.min.js"></script>

    <style>
    	body,html{padding: 0px;margin: 0px;}
    	header{font-size: 20px;color:#000;padding-left:10px;height:36px;line-height: 36px;border-bottom: 1px dashed #ccc;}
    	.content{
    		text-indent: 2em;line-height: 30px;margin: 5px;
    	}

    	button{
    		background:#AB8BE6;
    		height: 40px;
    		line-height: 40px;
    		text-align: center;
    		border-radius: 5px;
    		margin:2%;
    		border: none;
    		color:#fff;
    		width:96%;
    	}
    </style>
</head>
<body>
	<div id="app">
		<header>XBaseAndroid</header>
		<div class="content">
		    XBaseAndroid一款集成了网络请求，本地缓存，配置文件，数据库映射，权限申请，链表管理Activity，简化Activity、Service、Broadcast启动， 万能ListView,GridView适配器、高仿IOS弹窗、倒计时/延迟执行，标题栏组件,图片显示，webview引擎，APP更新组件，APP崩溃日志组件，线程池组件，视频播放器，三级地址选择，热更新组件
		</div>

        <div><input type="file" value="上传图片" name="image" /></div>

        <button v-on:click="btn_showloading">显示Loading</button>

		<button v-on:click="btn_close">关闭当前界面</button>

        <button v-on:click="btn_kill">关闭整个应用</button>

        <button v-on:click="btn_get">发送get请求</button>

        <button v-on:click="btn_post">发送post请求</button>

        <button v-on:click="btn_alert">alert弹窗</button>

        <button v-on:click="btn_confirm">confirm弹窗</button>

        <button v-on:click="btn_prompt">prompt弹窗</button>

        <button v-on:click="btn_notification">发送通知</button>

        <button v-on:click="btn_activity">打开Activity</button>

        <button v-on:click="btn_params">获取当前Activity intent参数</button>

        <button v-on:click="btn_download" v-text="downloadText"></button>

        <button v-on:click="btn_clear_cache">清空web缓存</button>

        <button v-on:click="get_cookie">获取Cookie</button>
</div>
<script>
var vue = null;
/**
* 1参数  是否请求成功
* 2参数  请求tag
* 3参数   notifyId 唯一标识符
*/
function httpCallback(status,tag,notifyId,response){
    alert(status+","+ tag +"，" + notifyId +","+ response );
    xbase.closeLoading();
    if(notifyId === 9000 && status){
		response = JSON.parse(response);
		if(response.status === 1){
			xbase.setCookie("http://127.0.0.1","token=" +response.data);
			alert("成功");
		}
    }
}

/**
* 文件下载进度条回调
*/
function downloadProgressBar(progress,progress2,speed,notifyId){
    vue.downloadText = "演示下载文件  当前网速：" + speed +"  下载：" + progress;
}

/**
* 文件路径回调
*/
function downloadSuccess(filename,notifyId){

}

/**
* 下载文件开始
*/
function downloadStart(notifyId){

}

/**
* 下载错误回调  message为错误信息
*/
function downloadError(message,notifyId){

}

/**
* 保存路径回调
*/
function downloadFinish(savePath,notifyId){

}


	vue = new Vue({
		el:"#app",
		data:{
            "downloadText":"演示下载文件",
		},
		created:function(){
		    xbase.toast("当前网络状态：" + xbase.getNetworkStatus());
		},
		methods:{
		    "btn_showloading":function(){
                xbase.showLoading("正在加载中");
                var timer = setTimeout(function(){
                    xbase.closeLoading();
                    clearTimeout(timer);
                },2000);

		    },
			"btn_close":function(){
			   xbase.close();
			},
			"btn_kill":function(){
			    xbase.kill();
			},
			"btn_get":function(){
			    var username = prompt("请输入用户名");
			     var password = prompt("请输入密码");
			    xbase.showLoading("正在请求中");
			    xbase.doGet("http://www.51hyi.cn:8080/login?username=" + username + "&password=" + password,"tag123",9000);
			},
			"btn_post":function(){
			    xbase.showLoading("正在请求中");
                xbase.doPost("http://www.51hyi.cn:8080/login",JSON.stringify({username:"admin","password":21}),"tag124",8000);

			},
			"btn_alert":function(){
			    alert("弹窗");
			},
			"btn_confirm":function(){
			    var res = confirm("你是安卓开发工程师吗");
			    alert(res);
			},
			"btn_prompt":function(){
			    var info = prompt("请输入您的姓名");
			    alert("您输入的姓名是：" + info);
			},
			"btn_notification":function(){
                xbase.showNotification("head","drawable","com.hengyi.baseandroiddemo.MainActivity","您有一个通知","温馨提示","您正在使用XBaseAndroid H5功能",12566);
			},
			"btn_activity":function(){
			    xbase.openActivity("com.hengyi.baseandroiddemo.MainActivity","name=1&time=2");
			},
			"btn_params":function(){
			    var res = xbase.getBooleanExtra("show_title_bar",false);
			    alert("当前是否开启缓存：" + res);
			},
			"btn_download":function(){
			    var fileName = prompt("请输入保存的文件名");
			    if(fileName == "null" || fileName==null){
			        fileName = "";
			    }else{
			        fileName = fileName+".apk";
			    }
			     var showNotify = confirm("是否在通知栏显示下载进度");
			    xbase.download("http://sqdd.myapp.com/myapp/qqteam/tim/down/tim.apk",fileName,'authorities   不为空 如果下载的是apk会自动安装',showNotify,true,123456);
			},
			btn_clear_cache:function(){
			    xbase.clearWebCache();
			    alert("清除成功");
			},
			get_cookie:function(){
			   var cookies = xbase.getCookies("http://127.0.0.1");
			    alert(cookies);
			}
		}
	});
</script>
</body>
</html>