<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>XBaseAndroid内部网页</title>
    <script type="text/javascript">
    	xbase.toast("我是网页，我调用的安卓原生的信息");
    </script>
    <style>
    	body,html{padding: 0px;margin: 0px;}
    	header{font-size: 20px;color:#000;padding-left:10px;height:36px;line-height: 36px;border-bottom: 1px dashed #ccc;}
    	.content{
    		text-indent: 2em;line-height: 30px;margin: 5px;
    	}

    	button{
    		background:#AB8BE6;
    		height: 40px;
    		line-height: 40px;
    		text-align: center;
    		border-radius: 5px;
    		margin:2%;
    		border: none;
    		color:#fff;
    		width:96%;
    	}
    </style>
</head>
<body>
<header>XBaseAndroid</header>
<div class="content">
    XBaseAndroid一款集成了网络请求，本地缓存，配置文件，数据库映射，权限申请，链表管理Activity，简化Activity、Service、Broadcast启动， 万能ListView,GridView适配器、高仿IOS弹窗、倒计时/延迟执行，标题栏组件,图片显示，webview引擎，APP更新组件，APP崩溃日志组件，线程池组件，视频播放器，三级地址选择，热更新组件
</div>
<button>安卓测试</button>
</body>
</html>